h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
  font-weight: 800;
  background-image: url(https://2.bp.blogspot.com/-pKFE-5ysj68/TkjG9DvLB4I/AAAAAAAAEoM/rDKiHkvbC8o/s1600/Abstract_Wallpaper_8.jpg);;
   -webkit-background-clip: text;  
   background-clip: text;
   color: transparent;
}
