body {
    text-align: center;
}

img {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    margin: 25px;
    padding: 25px;
    animation: rotater 1.5s linear infinite;
}

@keyframes rotater {
    from {
        transform: rotate(0);
    }
    
    to {
        transform: rotate(360deg);
    }
}